In [9]:
# importing pandas module 
import pandas as pd 
  
# reading csv file 
data = pd.read_csv("pokemon.csv")

In [10]:
# creating a blank series 
Type_new = pd.Series([])

In [11]:
# running a for loop and asigning some values to series 
for i in range(len(data)): 
    if data["Type"][i] == "Grass": 
        Type_new[i]="Green"
  
    elif data["Type"][i] == "Fire": 
        Type_new[i]="Orange"
  
    elif data["Type"][i] == "Water": 
        Type_new[i]="Blue"
  
    else: 
        pass
  
          
# inserting new column with values of list made above         
data.insert(1, "Type New", Type_new) 
  
# list output 
data.head()

      Pokemon Type New   Type
0   Bulbasaur    Green  Grass
1     Ivysaur    Green  Grass
2    Venusaur    Green  Grass
3  Charmander   Orange   Fire
4  Charmeleon   Orange   Fire